/* #region-common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --var-tool-bar: #ff6900;
    --var-primary-text: white;
}

/* #endregion-common */
/* #region-debug */
.debug {
    header {
        height: 50px;

        #tool-bar {
            height: 100%;
            border: 1px dotted black;
        }

    }

    #first-row {
        margin: 2rem auto;
        height: 600px;
    }

    #second-row {
        margin: 2rem auto;
        height: 600px;
    }

    footer {
        height: 66px;

        #foot-container {
            border: 1px dotted black;
            height: 100%;

            #first-column,
            #second-column {
                border: 1px dotted black;
            }
        }
    }
}

/* #endregion-debug */
/* #region-utilities */

.primary-cont {
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.card {
    height: 85%;
    width: 30%;
}

.red {
    color: red;
}

.line-trough {
    text-decoration: line-through;
}

.j-space-between {
    justify-content: space-between;
}

.card-img {
    height: 100%;
    position: relative;

    img {
        height: 100%;
        width: auto;
    }
}

/* #endregion-utilities */
header {
    background-color: var(--var-tool-bar);

    #tool-bar {
        color: var(--var-primary-text);
        align-items: center;
    }

    #genre {
        width: 40%;

    }

    #logo {
        width: 20%;

        img {
            max-width: 80%;
        }

    }

    #tools {
        width: 40%;
        text-align: end;

    }
}

.card-img:hover .fade-img {
    display: block;
}

.heart {
    font-size: 30px;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 310px;
    z-index: 10;
}

.fade-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -50%);
    display: none;
}

.tag-sale {
    width: 50px;
    position: absolute;
    top: 450px;
    left: 0;
    background-color: red;
    border-radius: 1px solid red;
    font-size: small;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 5px 0;
    z-index: 10;
}

.tag {
    position: absolute;
    top: 450px;
    left: 60px;
    background-color: green;
    border-radius: 1px solid green;
    font-size: small;
    font-weight: bold;
    color: white;
    padding: 5px 0;
    z-index: 10;
}

#tag-6 {
    position: absolute;
    top: 450px;
    left: 0px;
    background-color: green;
    border-radius: 1px solid green;
    font-size: small;
    font-weight: bold;
    color: white;
    padding: 5px 0;
    z-index: 10;
}